<section >
    <div class="row">
        <!--  <div class="col-sm-0 col-md-0 col-xs-0 col-lg-4" style="background-image:linear-gradient(
          to left,
        rgb(255, 255, 255),
        #36487D
      ), url('http://api.thumbr.it/whitenoise-361x370.png?background=3A355Eff&noise=626262&density=63&opacity=80'); opacity: 0.8;"></div>-->
        <footer class="col-12" >
            <div class="center-block">
                <p style=" text-align: center;">Design by &nbsp;
                    <a href="https://crocode.co"><img src="assets/img/nav_logo@2x.png" class="img-responsive " style="height: 17px" /></a> &nbsp;- crocode.official@gmail.com</p>
            </div>
        </footer>
    </div>
</section>
